.btn-back{
    border: 1px solid #FF4F01;
    color: #FF4F01;
}

.btn-back:hover{
    background-color:#FF4F01;
    color: #ffffff;
}

.btn-confirm{
    border: 1px solid #FF4F01;
    background-color:#FF4F01;
    color: #ffffff;
}

.btn-confirm:hover{
    background-color:#e94701;
    border: 1px solid #e94701;
}