table{
    background-color: #FFFFFF;
}
thead{
    background-color: #FF4F01;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}
th{
    border: 1px solid white;
}
td{
    background-color: white;
    border: 1px solid #828282;
}